// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background: linear-gradient(135deg,  #40AAFF 0%, #7E61FF 100%);
  text-align: center;
  position: relative;
}

ion-content .top-icon-left {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 30px;
}

ion-content .top-icon-right {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

ion-content .logo {
  width: 25%;
  margin: 0;
}

ion-content .title {
  color: white;
  font-size: 2.8em;
  margin: 0;
  margin-top: 0.6em;
  font-weight: 200;
}

ion-content .normal-button,
ion-content .big-button {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

ion-content .big-button {
  font-size: 1.3em;
  margin-top: 2em;
}

// Overrides dos CSS do Ionic

ion-content {
  font-family: 'Raleway', sans-serif !important;
}

ion-item.clear-label {
  background: none !important;
}

ion-item.clear-label .item-inner {
  border-bottom: 1px white solid !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

ion-item.clear-label .item-inner ion-label,
ion-item.clear-label .item-inner ion-input {
  color: white !important;
}

ion-content .normal-button,
ion-content .big-button {
  background: none !important;
}

ion-content .normal-button .button-inner,
ion-content .big-button .button-inner {
  font-family: 'Raleway', sans-serif !important;
  text-transform: none !important;
  font-weight: 400 !important;
}
